* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }

body{
    background-color: rgb(243, 91, 1);
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Comfortaa', cursive;
   
    justify-content: space-around;
    margin: 0;
}
.banner {
    margin: 30px 0px 13px 0px;
    text-align: center;
    
}
.banner h1 {
    text-transform: uppercase;
    font-family: 'Bungee Shade', cursive;
    font-size: 35px;
}
.banner h2 {
    margin-bottom: 33px;
    font-size: 16px;
    font-family: 'Lobster', cursive;
    /* margin-top: -23px; */
}
.banner p{
    text-align: center;
    color: white;
    /* padding-left: 20px;
    padding-right: 20px; */
    padding: 10px 20px;
    font-size: 15px;
}
/* Form */
.form-inputs {
    border: none;
    padding: 10px;
    border-radius: 5px;
}
#submit-btn {
    background-color:rgb(241, 135, 1);
    color: white;
}

/* Display info */
#main-container{
    /* margin: 30px 0px 0px 0px; */
    margin: 0px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    /* background-color: rgb(241, 135, 1); */
    /* height: 100vh; */
}
#titleList {
    font-size: 16px;
    text-align: center;
    /* color: rgb(90, 50, 0); */
    margin: 10px 10px;
    padding: 10px 20px;
    line-height: 20px;
}
#titleList p {
    padding: 0px 20px 0px 20px;
}
.btn-info {
    padding: 10px 20px;
    border: none;
    background-color: rgb(243, 91, 1);
    font-size: 15px;
    color: white;
    border-radius: 10px;
}

#more-info {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

#show-info {
    margin: 10px 0px 10px 0px;
    /* padding-left: 30px;
    padding-right: 30px; */
    text-align: center;
    font-size: 15px;
    color: rgb(90, 50, 0);
    /* line-height: 25px; */
}
#show-info p {
    padding: 10px 20px;
    /* padding-top: 10px;
    padding-bottom: 10px; */
}
#show-info img {
    margin-top: 25px;
}
#show-info p:nth-child(7){
    padding-left: 40px;
    padding-right: 40px;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 768px) {
    .banner h1 {
        font-size: 50px;
    }
    .banner h2 {
        font-size: 20px;
    }
    .banner p {
        padding: 10px 20%;
    }
    #search-form {
        margin: 30px 0px;
    }
    #main-container {
        width: 100%;
    }
    #titleList {
        padding: 4% 30%;
    }
    #show-info p:nth-child(7) {
        padding-left: 20%;
        padding-right: 20%;
    }
    #show-info img {
        margin-bottom: 5%;
    }

}